<%= link_to "admin", :wordcards %>

<% if @available.present? %>
	<div class="wordcard">
		<div class="word"><%= @available.word %></div>
		<div class="definition"><%= @available.definition %></div>
	</div>
	<%= button_to "Got it right!", wordcard_result_path(@available), :params => {result: true} %>
	<%= button_to "Got it wrong!", wordcard_result_path(@available), :params => {result: false} %>
<% end %>


<%= render 'wordcards/noticeholder' %>